extends ../layout

block scripts
  script(src="/js/main.js", type="module")

block header
  include ../components/header

block content

  section
    h1 Meet the Team
    .team
      .member
        .headshot
          img(src="/img/person.png")
        p.name Maximilian Rodler
        p.title Project Manager
        a.github(
          target="_blank",
          rel="noopener noreferrer",
          href="https://github.com/MaxRodler"
        ) @MaxRodler

      .member
        .headshot
          img(src="/img/person.png")
        p.name Paul Stöckle
        p.title Head of Development
        a.github(
          target="_blank",
          rel="noopener noreferrer",
          href="https://github.com/DosKobold"
        ) @DosKobold

      .member
        .headshot
          img(src="/img/person.png")
        p.name Simon Blum
        p.title Head of Quality & Operations
        a.github(
          target="_blank",
          rel="noopener noreferrer",
          href="https://github.com/DefinitelyNotSimon13"
        ) @DefinitelyNotSimon13

      .member
        .headshot
          img(src="/img/person.png")
        p.name Ben Oeckl
        p.title Head of Testing & Integrations
        a.github(
          target="_blank",
          rel="noopener noreferrer",
          href="https://github.com/benoeckl"
        ) @benoeckl

  section
    h1 What is Episko?
    article.w-80.
      Episko is a simple tool that, helps developers to have their software projects together all at one point. No matter which version control or IDE you're using, Episko will have all relevant information about your project ready for you. <br><br>
      No more searching for forgotten old projects - Episko will know where you saved them. <br><br>
      Just search for the name, the programming language or any other detail of your project, and you'll get a list of all matching ones within the blink of an eye. For even better sorting, you can assign them to self-determined categories. <br>
      Working with human-readable files to store all details, Episko lets you create and manage your projects via the desktop app, the Command-Line  Interface, or by directly editing the Metadata file in your project directory.
      Moving to another device? No problem! Just specify where your projects are filed, and Episko will automatically find and add them to your project overview. <br>
      If you still don't have enough, let Episko generate useful statistics, including all your projects, and get the ultimate overview of everything you're doing.
