article.card.card-clickable.post-card(href=`/posts/${post.id}/read`)
  h2= post.title
  .post-meta
    span By&nbsp;
    a(href=`/user/${post.author}`) #{ post.author }
    span &nbsp;on
    span= post.createdAt.toLocaleDateString()
  p.post-content-preview= post.content
  // a.button(href=`/posts/${post.id}/read`) Read More
