extends ../layout

block scripts
  script(src="/js/post.js", type="module")

block content
  main.container
    .post-full
      a.back-action(href="/posts") ← Back to Posts
      article.card.post-card
        .post-header
          h1= post.title

        .post-content
          p= post.content

        .post-meta
          span Posted by&nbsp;
          a(href=`/user/${post.author}`) #{ post.author }
          span &nbsp;on&nbsp;
          span= post.createdAt.toLocaleDateString()

      .post-actions
        if session.user && ( session.user.role === 'admin' || (session.user.role === 'author' && session.user.username === post.author))
          .container
            a.button(href=`/posts/${post.id}/edit`) Edit Post
            a.button(href=`/posts/${post.id}/edit`) Delete Post
