extends ../layout

block scripts
  script(src="/js/post.js", type="module")

block content
  main.container
    .post-full
      a.back-action(href="/posts") ← Back to Posts
      article.card.post-card
        .post-header
          h1= post.title

        .post-content
          p= post.content

        .post-meta
          span Posted by #{ post.author } on 
          span= post.createdAt.toLocaleDateString()

        .post-actions
          if session.loggedIn
            if session.user.role === 'admin' || (session.user.role === 'author' && session.user.username === post.author)
              a.button(href=`/posts/${post.id}/edit`) Edit Post
